.logo {
  border-radius: 80%;
  border: solid rgb(34, 88, 15);
  position: absolute;
  left: 0;
  width: 70px;
  padding: 1px 1px 1px 1px;
  margin-left: 3%;
  min-height: 1vh;
  float: left;
}

aside.c {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

h1.title {
  margin-left: 120px;
}
#menu a {
  margin-left: 10%;
  padding-right: 20px;
  text-decoration: none;
  color: black;
  margin-top: 20px;
}

#m nav {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#f {
  display: flex;
  flex-direction: column;
}
#f section {
  order: 1;
  margin-top: 150px;
  padding-top: 50px;
}
#f main {
  order: 2;
}
#f aside {
  order: 3;
}
#f footer {
  order: 4;
}

@media screen and (min-width: 1300px) {
  header {
    height: 150px;
  }

  #m nav {
    text-align: center;
    display: flex;
    flex-direction: row;
  }
  #f section {
    order: 2;
    margin-top: 0px;
  }
  #f main {
    order: 1;
  }
}

header {
  background-color: rgba(122, 212, 83, 0.574);
  width: 100%;
  padding: 10px;
  height: 150px;
}

nav {
  background-color: #aad5bc;
  border: 2px solid rgba(8, 30, 96, 0.152);
}

table {
  border: 2px solid rgb(0, 0, 0);
  width: 50%;
  margin: 0px auto;
  border-collapse: collapse;
  justify-content: center;
  align-items: center;
}

.table td,
th {
  text-align: center;
  padding: 3px;
  border-bottom: 1px solid rgb(0, 0, 0);
  border-right: 1px solid rgb(0, 0, 0);
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
tr.even {
  background-color: rgb(251, 220, 248);
}

footer {
  position: absolute;
  width: 100%;
  display: flex;
  width: 100%;
  padding: 50px;
  background-color: rgba(122, 212, 83, 0.574);
  flex-flow: row nowrap;
  align-items: center;
  text-align: center;
  justify-content: center;
}

div.fon1 {
  background-color: rgba(148, 161, 200, 0.986);
  background-position: center top;
  padding: 20px;
  height: 10px;
  font-size: 13pt;
  width: 100%;
}

div.name {
  font-size: 35pt;
  font-family: "Courier New", monotype;
  font-weight: bold;
  font-style: italic;
  line-height: 120%;
}
*{
  font-family: Areal;
}
.b-container{
  width:300px;
  height:80px;
  background-color: #ccc;
  margin:0px auto;
  padding:10px;
  font-size:30px;
  color: #fff;
}
.b-popup{
  width:100%;
  min-height:100%;
  background-color: rgba(0,0,0,0.5);
  overflow:hidden;
  position:fixed;
  top:0px;
}
.b-popup .b-popup-content{
  margin:40px auto 0px auto;
  width:300px;
  height: 500px;
  padding:10px;
  background-color: #c5c5c5;
  border-radius:5px;
  box-shadow: 0px 0px 10px #000;
}
